* {
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial Black;
}
  
body {
    padding: 0;
    margin: 0;
}
  
p , h3 {
    padding: 0;
    margin: 0;
  }
  
button {
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/*nav bar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #111;
}

/*header */
.create-button-filter {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

/*create button*/
.button-area {
    display: flex;
    flex-direction: column;
    width: 20%;
}
  
.button-area button {
    height: 40px;
    width: 250px;
}
  
.main-create-button {
    background-color: rgba(54, 180, 11, 1);
}
  
.dropdown-child .create-button {
    margin-top: 5px;
    background-color: rgba(54, 180, 11, 0.5);
    width: 120px;
}
  
.dropdown {
    position: absolute;
    display: inline-block;
}
  
.dropdown-child {
    display: none;
}
  
.dropdown:hover .dropdown-child {
    display: flex;
    justify-content: space-between;
}

/*filter*/
.filter {
    height: 30px;
    padding-top: 5px;
    margin-bottom: 5px; 
}
  
.filter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
  
.filter-form > * {
    margin-left: 10px;
}
  
.input-date {
    border: 1px solid rgb(235, 223, 223);
    border-radius: 5px;
}

/*main container*/
.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    padding: 5px;
}
  
.info {
    width: 20%;
}
  
.info-block {
    position: fixed;
    left: 5px;
    bottom: 80px;
}
  
.info-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(235, 223, 223);
}
  
.info-block > * {
    margin-top: 7px;
}
  
.info-block div h3 {
    color: black;
}
  
.info-details {
    display: flex;
    justify-content: space-between;
}
  
.place {
    width: 80%;
    min-height: 80vh;
    border-radius: 5px;
    border-top: 1px solid rgb(235, 223, 223);
    border-left: 1px solid rgb(235, 223, 223);
    padding-left: 10px;
    padding-top: 10px;
}

/*file and folder*/
.files ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}
  
.files ul > * {
    margin-right: 30px;
}
  
.data-folder, .data-file {
    display: flex;
    flex-direction: column;

    border: 1px solid rgba(54, 180, 11, 0.5);
    border-radius: 5px;
    padding: 5px;
   
    position: relative;
    margin-bottom: 5px;
}
  
.data-folder p, .data-file p {
    width: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.data-folder div, .data-file div {
    display: none;
    background: black;
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 3px;
  
    top: 75%;
    right: 10%;
    
    position: absolute;
    z-index: 1;
}
  
.data-folder:hover div, .data-file:hover div {
    display: block;
}

.data-folder img, .data-file img {
    width: 80px;
    height: 50px;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(56, 33, 33); 
    background-color: rgba(0,0,0,0.4);
}
  
/* Modal Content/Box */
.modal-content {
    background-color: rgba(41, 128, 12, 0.8);
    margin: 15% auto;
    padding: 10px;
    border: 1px solid rgba(41, 128, 12, 1);
    width: 50%;
}

.modal-content>p {
    color: rgb(245, 241, 241);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.modal-content > input {
    border: 1px solid rgba(41, 128, 12, 0.8);
    border-radius: 5px;
    background-color: rgb(113, 158, 98);
    color: rgb(245, 241, 241);
}
  
/* Button */
.button {
    color: rgb(245, 241, 241);
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(41, 128, 12, 0.8);
    border: 1px solid  rgba(41, 128, 12, 0.8);
    border-radius: 5px;
    padding: 5px;
}

.button:hover, .button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
  
/* The Close Button */
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
}
  
.close img {
    width: 20px;
    background-color: rgba(41, 128, 12, 0.8);
    border: 1px solid  rgba(41, 128, 12, 0.8);
    border-radius: 5px;
}
  
.close img:hover {
    background-color: rgba(206, 17, 17, 0.8);
}
  
.close:hover, .close:focus {
    cursor: pointer;
}