* {
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial Black;
}
  
body {
    padding: 0;
    margin: 0;
}
  
p , h3 {
    padding: 0;
    margin: 0;
  }
  
button {
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/*nav bar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #111;
}

/*header page*/
.create-button-filter {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

/*create button*/
.button-area {
    display: flex;
    flex-direction: column;
    width: 20%;
}
  
.button-area button {
    margin-top: 5px;
    height: 40px;
    width: 250px;
}
  
.main-create-button {
    background-color: rgba(54, 180, 11, 1);
}
  
.dropdown-child .create-button {
    background-color: rgba(54, 180, 11, 0.5);
    width: 120px;
}
  
.dropdown {
    position: absolute;
    display: inline-block;
}
  
.dropdown-child {
    display: none;
}
  
.dropdown:hover .dropdown-child {
    display: flex;
    justify-content: space-between;
}

/*filter*/
.filter {
    height: 30px;
    padding-top: 5px;
    margin-bottom: 5px; 
}
  
.filter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
  
.filter-form > * {
    margin-left: 10px;
}
  
.input-date {
    border: 1px solid rgb(235, 223, 223);
    border-radius: 5px;
}

/*main container*/
.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    margin-top: 5px;
    padding: 5px;
}
  
.info {
    width: 20%;
}
  
.info-block {
    position: fixed;
    left: 5px;
    bottom: 80px;
}
  
.info-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(235, 223, 223);
}
  
.info-block > * {
    margin-top: 7px;
}
  
.info-block div h3 {
    color: black;
}
  
.info-details {
    display: flex;
    justify-content: space-between;
}
  
.place {
    width: 80%;
    min-height: 80vh;
    border-radius: 5px;
    border-top: 1px solid rgb(235, 223, 223);
    border-left: 1px solid rgb(235, 223, 223);
    padding-left: 10px;
    padding-top: 10px;
}

